.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.navIcons{
    margin-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
}
.navIcons>img, .homeButton{
    width: 1.5rem;
    height: 1.5rem;
}
.r-button{
    height: 2.5rem;
    width: 80%;
    align-self: center;
}