.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    gap: 1rem;
}
.Post > img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.postReact{
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
    gap: 1.5rem;
}
.detail{
    display: flex;
    gap: 5px;
}